*{
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar{
    width: 95%;
    height: 60px;
    background-color: black;
    left: 2.5%;
    top: 10px;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 70px;
    z-index: 10;
}

h1{
    color: aliceblue;
    margin-left: 3%;
}

.search-box{
    width: 40%;
    padding: 10px;
    border-radius: 40px;
}

.nav-items {
    display: flex;
    width: auto;
    z-index: 5;
}

ul{
    padding: 10px;
    display: flex;
    background-color: aliceblue;
    border-radius: 50px;
    margin-right: 15px;
}

ul li{
    list-style-type: none;
}

ul li a{
    color: black;
    padding: 7px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 700;
}

ul li a:hover{
    transition: 0.3s;
    background-color: black;
    color: white;
}

.burger{
    display: none;
}

@media screen and (max-width:768px) {
    .nav-items{
        width: 220px;
        height: 70vh;
        top: 77px;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translatex(350%);
        transition: 0.5s ease-in;
        position: fixed;
    }

    .nav-items ul{
        width: 100%;
        height: auto;
        border-radius: 40px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: black;
    }

    .nav-items ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
        padding: 0;
    }

    .nav-items ul li a{
        color: aliceblue;
    }

    .nav-items ul li a:hover{
        background-color: aliceblue;
        color: black;
    }

    .burger{
        display: block;
        cursor: pointer;
        margin-right: 2%;
    }

    .burger div{
        width: 20px;
        height: 3px;
        background-color:rgb(251, 251, 255);
        margin: 5px;
    }

    .nav-active{
        transform: translateX(230%);
    }

    @keyframes navLinkfade {
        from {
            opacity: 0;
            transform: translateX(-10px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .nav-items li {
        animation: navLinkfade 0.5s ease forwards 0.5s;
    }
}

@media screen and (max-width:426px) {
    .nav-active{
        transform: translateX(75%);
    }
}

@media screen and (max-width:376px) {
    .nav-active{
        transform: translateX(55%);
    }
}

@media screen and (max-width:321px) {
    .nav-active{
        transform: translateX(30%);
    }
}

/* main-content */
.main-content {
    width: 95%;
    margin: 75px auto 30px;
    display: flex;
}

.products {
    column-count: 4;
    column-gap: 1rem;
}


.item {
    width: 100%;
    background-color: #000;
    border-radius: 15px;
    margin-bottom: 1rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    break-inside: avoid;
}

.item img {
    width: 100%;
    border-radius: 15px;
    height: auto;
}

.item a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .products {
        column-count: 3;
    }
}

@media screen and (max-width: 480px) {
    .products {
        column-count: 2;
    }
}

/* detail */
.detail-container{
    width: 95%;
    height: calc(92vh - 60px);
    margin-top: 70px;
    margin-left: 2.5%;
    display: flex;
    overflow: hidden;
    position: fixed;
}

.detail{
    width: 69.5%;
    height: calc(92vh - 60px);
    display: block;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-between;
    float: left;
    margin: 0 auto;
    padding: 10px;
}

.detail::-webkit-scrollbar{
    width: 10px;
}

.image{
    width: 60%;
    height: fit-content;
    padding: 10px;
}

.description{
    width: 35%;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.buttons{
    width: 100%;
    height: fit-content;
    padding: 10px;
    position: sticky;
    flex-direction: row;
}

button{
    background-color: rgb(7, 7, 7);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.suggest{
    width: 27.5%;
    height: calc(92vh - 60px);
    border-radius: 15px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    float: right;
    margin: 0 auto;
}

.suggest a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 15px;
}

.suggest::-webkit-scrollbar{
    width: 10px;
}

.suggest-item{
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 5px;   
}

.suggest-item img{
    max-width: 100px;
    height: 100px;
    border-radius: 15px;
}

.suggest-item:hover{
    background-color: rgb(231, 145, 145);
}

@media screen and (max-width:768px){
    .detail-container{
        width: 100%;
        height: calc(102vh - 60px);
        margin-top: 70px;
        margin-left: 0%;
    }

    .detail{
        width: 60%;
        height: 90%;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }

}

/* Login */
.Login-container {
    width: 65%;
    height: 400px;
    display: flex;
    margin: 100px auto;
    justify-content: center;
}

.card {
  width: 400px;
  height: 500px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flip {
  transform: rotateY(180deg);
}

.Login {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  float: right;
}

.Login {
  z-index: 2;
}

.Register {
  transform: rotateY(180deg);
}

.form-image {
  width: 100%;
  height: 150px;
  background: #ff9191;
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
}

.form-image img {
    width: 100%;
  height: 150px;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form h2 {
  text-align: center;
}

.form input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.flip-btn {
  color: #007BFF;
  cursor: pointer;
  font-weight: bold;
}

/* Cart */
.cart-container{
    width: 95%;
    height: calc(92vh - 60px);
    margin-top: 70px;
    margin-left: 2.5%;
    display: flex;
    overflow: hidden;
    position: fixed;
}

.cart-detail{
    width: 100%;
    height: calc(92vh - 60px);
    border-radius: 15px;
    color: black;
    display: block;
}

.cart{
    width: 99.5%;
    height: 100%;
    justify-content: center;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-between;
    float: left;
    margin: 10px auto;
}

.cart a{
    width: 100%;
    color: black;
    display: flex;
    text-decoration: none;
    margin-bottom: 15px;
}

.cart-detail{
    width: 100%;
    height: 100px;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
}

.cart-detail:hover{
    background-color: rgb(97, 226, 99);
}

.cart-description{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-description button{
    background-color: rgb(13, 13, 13);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.cart::-webkit-scrollbar{
    width: 10px;
}

.cart img{
    max-width: 90px;
    height: 90px;
    border-radius: 15px;
}

/* WishList */
.WishList-container{
    width: 95%;
    height: calc(102vh - 60px);
    margin-left: 2.5%;
    display: flex;
    overflow: hidden;
    position: fixed;
}

.WishList-detail{
    width: 95%;
    height: calc(92vh - 60px);
    border-radius: 15px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 100px auto;
}

.WishList-detail a{
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 35px;
}

.WishList-detail::-webkit-scrollbar{
    width: 10px;
}

.WishList{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 5px;   
}

.WishList button{
    background-color: rgb(11, 11, 11);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.WishList img{
    max-width: 100px;
    height: 100px;
    border-radius: 15px;
}

.WishList:hover{
    background-color: rgb(81, 201, 93);
}

.WishList-description{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contact-Form */
.contact-container{
    width: 800px;
    height: 500px;
    display: flex;
    margin: 100px auto;
}

.contact-detail{
    width: 100%;
    height: 100%;
    color: black;
}

.contact-form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.contact-form h2{
    text-align: center;
    margin-top: 10px;
}

.contact-form button{
    background-color: rgb(97, 226, 99);
    color: black;
    margin: auto;
    width: 95%;
}

.contact-form button:hover{
    background-color: rgb(37, 159, 94);
    color: rgb(23, 22, 22);
}

.contact-glue{
    width: 100%;
    height: 100px;
    display: flex;
}

.contact-input{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.contact-input label{
    color: black;
    font-weight: bold;
    margin-left: 15px;
}

.contact-input input{
    width: 87%;
    height: 30px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.contact-textarea{
    width: 95%;
    height: 300px;
    padding: 10px;
    margin: auto;
}

textarea{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}


/* Footer */
.footer{
    width: 95%;
    background-color: black;
    bottom: -45px;
    left: 2.5%;
    position: fixed;
    border-radius: 50%;
    margin-top: 30px;

}

.footer p{
    color: aliceblue;
    text-align: center;
    margin-bottom: 60px;
}